#profile-error{
    margin-top: -25px;
    font-size: 1.5em;
    text-align: center;
    color: #dc3545;
}

#user
{
    font-size: 1.8rem;
    text-align: center;
}

div.editProfile
{
    font-size: 2rem;
}

.editProfileBtn
{
    font-size: 2rem;
    color: white;
    display: block;
    width: 100%;
    border: 5px solid white;
    background-color: var(--primary-color);
    margin-top: 30px;
}

#user-name, #user-gender{
    font-size: 1.6rem;
    padding: 10px;
}

.profile-pic
{
    font-size: 1.5rem;
}

#cameraInput
{
    font-size: 1.5rem;
    width: unset;
    margin-bottom: 30px;
}
#birthdate
{
    font-size: 1.5rem;
    width: unset;
}

#profile-success{
    margin-top: -25px;
    font-size: 75%;
    text-align: center;
    color: green;
}

.ed-pr-nm{
    font-size: 1.5rem;
}