.firstDropDownColor {
    color: #840101;
    /*font-size: 1.5em;*/
}
.secondDropDownColor {
    color: #32a9ce;
    /*font-size: 1.5em;*/
}

li{
    list-style-type: none;
}

#activities, #evaluations{
    display: block;
    text-align: center;
}

.quest{
    font-size: 1.5rem;
    text-align: center;
}

button.evaluation-but
{
    font-size: 1.8rem;
    color: white;
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px;
    /* border-radius: 15px; */
    border: none;
}

.act-btns{
    color: var(--primary-color);
    background-color: inherit;
    border-radius: 0;
    border: 1px solid var(--primary-color);
    padding: 10px;
}

#activityName
{
    font-size: 2em;
}

#checklist, #skills
{
    font-size: 1.8em;
}

#activities_wrapper{
    text-align: center;
}

/* .dataTables_wrapper{
    text-align: center;
} */