.firstDropDownColor {
    color: #840101;
    font-size: 2.5rem;
}
.secondDropDownColor {
    color: #32a9ce;
    font-size: 2.5rem;
}

#checklist1-1 /*unit of measure stuff*/{
    font-size: 2.5rem;
}

#checklist1-1-input{
    /* size of the input bar */
    width: 10.5rem;
    text-align: center;    
}

button.evaluation-but
{
    font-size: 2.5rem;
    color: white;
    display: block;
    width: 100%;
    background-color: #840101;
}

#activityName
{
    font-size: 2.5rem;
    text-align: center;
}

#checklist, #skills
{
    font-size: 1.8rem;
}

.dcl, .ev-title{
    font-size: 2.5rem;
}
