.col-elem {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.ath-hd{
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 5px;
}

.cell-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-child {
    display: inline-block;
}

.btns-col {
    text-align: center;
}

.home-btn {
    width: 12rem;
    font-weight: bold;  
    background: #2C4477;
    height: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.get-evals {
    /* margin-top: 0.5rem; */
    margin-bottom: 1.5rem;
}

.details-text {
    font-size: 1.2rem;
}

#camp-quote {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

#campers {
    border: none;
    text-align: none;
}