/* info and remind messages css page */

/* info buttons */
.infobutton{
    width:25px;
    height:25px;
}

.offline-save-warning {
    padding: 15px;
    background-color: #f44336;
    color: white;
    font-size:1.5rem;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    /* background-color: white; */
    font-style: italic;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    /* bottom: 0; -190px is the right height for phone and ipad login screens; -75px works for desktop */
    left: 50%;
    margin-top: 30px; /*add a margin top instead of marking the bottom to keep consistency*/
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* This stuff below was making it look like the info button text was in a lil text bubble - actually I'm not sure completely*/
  /* .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }