.container{
    width: 100%;
    margin: 30px auto;
}

.login-form input{
    margin-bottom: 30px;
}

.signup,
.login{
    width: 100%;
    background: #fff;
    color: var(--primary-color);
    font-size: 2.0rem;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.signup-form{
    color: #840101;
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 700px;
}
.login-form{
    color: #840101;
    background: #fff;
    padding: 10px 40px 40px 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}
.input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 2.5rem;
    outline: none;
    transform: all 0.5s ease;
}
.nav-item{
    text-align:left;
}
.bdrlessBtn{
    padding: 0;
    border: none;
    background: none;
}
.input:focus{
    border: 2px solid #840101;
}
.pass-comment{
    margin-top: -25px;
    font-size: 1.5rem; 
    text-align: center;
    color: #dc3545;
}
.error-msg {
    margin-top: -25px;
    text-align: center;
    color: #dc3545;
    font-size: 2rem;
}
#google-button {
    color: white;
    font-size: 1.8rem;
}
.btn{
    /* width: 100%; */
    border-radius: 10px;
    padding: 4px;
    background: var(--primary-color);
    /* height: auto; */
    text-align: center;
    /* line-height: 50px; */
    text-transform: uppercase;
    color: #fff;
    /* font-weight: bold; */
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    /* margin-bottom: 30px; */
}
.btn:active {
    background: var(--primary-color);
    color: white;
}

span a{
    text-decoration: none;
    color: #000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d5dbda;
    font-family: "Arial Black";
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d5dbda;
    font-family: "Arial Black";
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d5dbda;
    font-family: "Arial Black";
}
:-moz-placeholder { /* Firefox 18- */
    color: #d5dbda;
    font-family: "Arial Black";
}

.loader {
    margin-left: auto;
    margin-right: auto;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.aspectwrapper {
     display: inline-block; /* shrink to fit */
     width: 100%;           /* whatever width you like */
     position: relative;    /* so .content can use position: absolute */
 }

 #signup-birthdate
 {
     font-size: 1.8rem;
 }

 div.dob
 {
     font-size: 1.5rem;
 }

 label, #forgot-email, #forgot_pass
 {
     font-size: 2rem;
 }

 .link{
    padding: 0;
    border: none;
    background: none;
    font-size: 2.0rem;
}

.login-btn{
    font-size: 2.0rem;
}