
 /*this is on the home page*/
 #menu-user { 
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.btn-space {
    margin-bottom: 10px;
}
#menu-signout{
    background-color: firebrick;
}

.nav-item nav-link bdrlessBtn /*Okay, this is a test, it did nothing, devastating*/
{
    color:green;
    font-size: 100em;
}

#navbarNavDropdown /*Here we go, trying again to increase font size in nav bar, nothing happened again with color, oof but the font-size changed*/
{
    color:yellow;
    font-size: 2em;
}

div.navbar-brand
{
    font-size: 2em;
}

