.btn{ /*strangely the background color doesn't show up when I put this in app.css or style.css*/
    width: 100%;
    background: #840101;
    height: auto;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 2.0rem;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px;
  }
 /*this is on the home page*/
 #menu-user { 
    font-size: 1.8rem;
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding-top: 3rem;
    font-weight: bold;
}

.nav-item nav-link bdrlessBtn /*...bdrlessBtn is a class for a button found on the control panel, this doesn't work, color or size*/
{   
    color:green;
    font-size: 50rem;
}

/* Things actually in the nav bar */
.nav-item{ /*This is for the words in the nav bar*/
    text-align:left;
}

#navbarNavDropdown /*Nothing happened with color, but the font-size changed for the Log out button in the nav bar*/
{
    color:yellow;
    font-size: 2rem;
}

div.navbar-brand /*This changes the size of the word 'Menu'*/
{
    font-size: 2rem;
}


/* Things which I honestly don't know where they go currently */
.btn-space {
    margin-bottom: 10px;
}

#menu-signout{ /*Okay for this one I don't know what it does color and size doesn't change*/
    background-color: rgb(58, 178, 34);
    font-size: 50rem;
}