<template>
    <div id="controlPanel">
        <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#activities-control"
            aria-expanded="false" aria-controls="collapseExample"> -->
        <div class="alert">
            <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
            Recommendation: Use desktop when accessing the Admin Console
        </div>

        <div id="cp-title">Welcome to the Admin Console</div>

        <div class="tab">
            <button class="tablinks" onclick="openSection(event, 'activities-control')"
                id="defaultOpen">Activities</button>
            <button class="tablinks" onclick="openSection(event, 'campers-control')">Athletes</button>
            <button class="tablinks" onclick="openSection(event, 'groups-control')">Coaches</button>
            <button class="tablinks" onclick="openSection(event, 'users-control')">Users</button>
        </div>

        <div id="activities-control" class="tabcontent adminheader">
            <!-- <button class="btn ctr-add" type="button" onclick="addActivity()"> -->
            <button class="btn ctr-add" type="button"
                onclick="document.getElementById('addActivityModal').style.display = 'block';">
                Add an Activity
            </button>

            <button class="btn ctr-add" type="button"
                onclick="document.getElementById('editSkillDropdownInfoTextModal').style.display = 'block';">
                Edit Skill Dropdown Info Text
            </button>

            <!-- The Add Acitvity Modal -->
            <div id="addActivityModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content activityModal">
                    <span class="close"
                        onclick="if(confirm('Are you sure you want to leave the Add Activity Modal? The new activity that you are currently working on will not be saved.'))
                        { document.getElementById('addActivityModal').style.display = 'none'; initActModal(true);}">&times;</span>
                    <br>
                    <div class="cp-subTitle">New Activity</div> <br />
                    <span>Name: </span> <input type="text" id='add-act-name'>
                    <br><br>
                    <button class="btn" onclick="addCheckListItem(true)">Add a Checklist Item</button>
                    <div class="cp-smallTitle">Daily Checklist</div>
                    <br>
                    <!--Adding id's and class tags don't seem to be able to change the css-->
                    <table id="add-act-checklist" class="block cp-table row-border">
                        <thead>
                            <tr>
                                <th>Checklist Name</th>
                                <th>Unit of Measure</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <br><br>
                    <button class="btn" onclick="addSkill(true)">Add a Skill</button>
                    <br>
                    <div class="cp-smallTitle">Skills</div>
                    <table id="add-act-skills" class="block cp-table row-border">
                        <thead>
                            <tr>
                                <th>Skill Name</th>
                                <th data-placement="top">
                                    Subskills</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <br /><br />
                    <button class="btn" id="add-activity" onclick="addActivityFromModal()">Add Activity</button>
                </div>
            </div>

            <!-- The Add Acitvity Modal -->
            <div id="editSkillDropdownInfoTextModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content activityModal">
                    <span class="close"
                        onclick="if(confirm('Are you sure you want to leave the Edit Skill Dropdown Info Text Modal? Any changes that you have made will not be saved.'))
                        { document.getElementById('editSkillDropdownInfoTextModal').style.display = 'none'; initEditSkillDropdownInfoTextModal();}">&times;</span>
                    <br>
                    <div class="cp-subTitle">Skill Dropdown Info Text</div> <br />
                    <br>
                    <textarea id="edit-info-text-input"></textarea>
                    <br><br>
                    <button class="btn" id="edit-info-text" onclick="editInfoText()">Submit Changes</button>
                </div>
            </div>

            <!-- The Edit Acitvity Modal -->
            <div id="editActivityModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content activityModal">
                    <span class="close"
                        onclick="if(confirm('Are you sure you want to leave the Edit Activity Modal? The edits to the activity that you are currently working on will not be saved.'))
                        { document.getElementById('editActivityModal').style.display = 'none'; initActModal(false);}">&times;</span>
                    <br>
                    <div class="cp-subTitle">Edit Activity</div> <br />
                    <span>Name: </span> <input type="text" id='edit-act-name'>
                    <br><br>
                    <button class="btn" onclick="addCheckListItem(false)">Add a Checklist Item</button>
                    <div class="cp-smallTitle">Daily Checklist</div>
                    <br>
                    <!--Adding id's and class tags don't seem to be able to change the css-->
                    <table id="edit-act-checklist" class="block cp-table row-border">
                        <thead>
                            <tr>
                                <th>Checklist Name</th>
                                <th>Unit of Measure</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <br><br>
                    <button class="btn" onclick="addSkill(false)">Add a Skill</button>
                    <br>
                    <div class="cp-smallTitle">Skills</div>
                    <table id="edit-act-skills" class="block cp-table row-border">
                        <thead>
                            <tr>
                                <th>Skill Name</th>
                                <th data-placement="top">
                                    Subskills</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <br /><br />
                    <button class="btn" id="update-activity" onclick="updateActivityFromModal()">Submit Activity
                        Changes</button>
                </div>
            </div>

            <div class="cp-subTitle">Activities Table</div>
            <table id="activities" class="block cp-table row-border"></table>
        </div>

        <div id="campers-control" class="tabcontent adminheader">
            <!-- <button class="btn" type="button" onclick="addCamper()">
                Add an Athlete
            </button> -->

            <!-- Trigger/Open The Modal -->
            <button id="addAthlete" class="btn"
                onclick="document.getElementById('addAthleteModal').style.display = 'block';">Add an Athlete</button>

            <!-- The Add Athlete Modal -->
            <div id="addAthleteModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('addAthleteModal').style.display = 'none';">&times;</span>
                    <h2>New Athlete's Info</h2>
                    <br>
                    <img id="add-camper-profile-pic" src="../img/user/default/user-480.png"
                        class="img-thumbnail rounded float-left modal-profile-pic" width="100" height="100">
                    <br>
                    <label for="add-camper-pic" class="text-like-button">Select File</label>
                    <input type="file" id="add-camper-pic" class="camper-modal-input hiddenElement" accept="image/*"
                        capture="camera" />
                    <br>
                    <label for="add-camper-fname"><b>First Name:</b></label>
                    <input type="text" placeholder="First Name" id="add-camper-fname"
                        class="camper-modal-input modal-fname" required>
                    <br>
                    <label for="add-camper-lname"><b>Last Name:</b></label>
                    <input type="text" placeholder="Last Name" id="add-camper-lname" class="camper-modal-input"
                        required>
                    <br>
                    <label for="add-camper-birthday"><b>Birthday:</b></label>
                    <input type="date" id="add-camper-birthday" min="1950-01-01" class="camper-modal-input" required>
                    <br>
                    <label for="add-camper-gender"><b>Gender:</b></label>
                    <select class="form-control" id="add-camper-gender" class="camper-modal-input">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <br>
                    <label for="add-camper-pronouns"><b>Pronouns:</b></label>
                    <select class="form-control" id="add-camper-pronouns" class="camper-modal-input">
                        <option value="She/Her/Hers">She/Her/Hers</option>
                        <option value="He/Him/His">He/Him/His</option>
                        <option value="They/Them/Theirs">They/Them/Theirs</option>
                    </select>
                    <br><br>
                    <button onclick="addCamperFromModal()" class="add-athlete-btn">Add New Athlete</button>
                </div>
            </div>

            <div class="cp-subTitle">All Athletes</div>

            <!-- The Edit Athlete Modal -->
            <div id="editAthleteModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('editAthleteModal').style.display = 'none';">&times;</span>
                    <h2>Athlete's Info</h2>
                    <br>
                    <!-- Hidden IDs to know which document to update in Cloud Firestore and which filepath to update in Firebase Storage -->
                    <span id="edit-camper-uid" class="camper-modal-input" style="display: 'none'"></span>
                    <span id="edit-camper-camperId" class="camper-modal-input" style="display: 'none'"></span>
                    <!-- Hidden IDs to know which document to update in Cloud Firestore and which filepath to update in Firebase Storage -->
                    <img id="edit-camper-profile-pic" src="../img/user/default/user-480.png"
                        class="img-thumbnail rounded float-left modal-profile-pic" width="100" height="100">
                    <br>
                    <label for="edit-camper-pic" class="text-like-button">Select File</label>
                    <input type="file" id="edit-camper-pic" class="camper-modal-input hiddenElement" accept="image/*"
                        capture="camera" />
                    <br>
                    <label for="edit-camper-fname"><b>First Name:</b></label>
                    <input type="text" placeholder="First Name" id="edit-camper-fname"
                        class="camper-modal-input modal-fname" required>
                    <br>
                    <label for="edit-camper-lname"><b>Last Name:</b></label>
                    <input type="text" placeholder="Last Name" id="edit-camper-lname" class="camper-modal-input"
                        required>
                    <br>
                    <label for="edit-camper-birthday"><b>Birthday:</b></label>
                    <input type="date" id="edit-camper-birthday" min="1950-01-01" class="camper-modal-input" required>
                    <br>
                    <label for="edit-camper-gender"><b>Gender:</b></label>
                    <select class="form-control" id="edit-camper-gender" class="camper-modal-input">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <br>
                    <label for="edit-camper-pronouns"><b>Pronouns:</b></label>
                    <select class="form-control" id="edit-camper-pronouns" class="camper-modal-input">
                        <option value="She/Her/Hers">She/Her/Hers</option>
                        <option value="He/Him/His">He/Him/His</option>
                        <option value="They/Them/Theirs">They/Them/Theirs</option>
                    </select>
                    <br><br>
                    <button onclick="updateCamperFromModal()" class="add-athlete-btn">Update Athlete Info</button>
                </div>
            </div>

            <table id="campers" class="block cp-table row-border"> </table>
        </div>

        <div id="groups-control" class="tabcontent adminheader">
            <!-- <button class="btn" style="width: 50%;" type="button" onclick="addGroup()">
                Add a Group
            </button> -->
            <select id="yearPicker" onchange="updateGroupsTable()"></select>
            <div class="cp-subTitle">All Coach Groups</div>
            <table id="groups" class="block cp-table row-border">
                <tbody> </tbody>
            </table>
        </div>

        <div id="users-control" class="tabcontent adminheader">
            <!-- Trigger/Open The Modal -->
            <button class="btn" onclick="document.getElementById('addUserModal').style.display = 'block';">Add
                User</button>
            <div class="cp-subTitle">All Users</div>

            <!-- Modal for Add User -->
            <div id="addUserModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('addUserModal').style.display = 'none';">&times;</span>
                    <h2>Add a New User</h2>
                    <br>
                    <img id="modal-user-profile-pic" src="../img/user/default/user-480.png"
                        class="img-thumbnail rounded float-left modal-user-profile-pic" width="100" height="100">
                    <br>
                    <label for="modal-user-pic" class="text-like-button">Select File</label>
                    <br>
                    <input type="file" id="modal-user-pic" class="user-modal-input hiddenElement" accept="image/*"
                        capture="camera" />
                    <br>
                    <label for="modal-user-first"><b>First Name:</b></label>
                    <input type="text" placeholder="First Name" id="modal-user-first" class="user-modal-input" required>
                    <br>
                    <label for="modal-user-last"><b>Last Name:</b></label>
                    <input type="text" placeholder="Last Name" id="modal-user-last" class="user-modal-input" required>
                    <br>
                    <label for="modal-user-gender"><b>Gender:</b></label>
                    <select class="form-control" id="modal-user-gender" class="user-modal-input">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <br>
                    <label for="modal-user-priv">User Access Level</label><br />
                    <select class="form-control" id="modal-user-priv">
                        <option value=".">Basic</option>
                        <option value="parent">Parent</option>
                        <option value="coach">Coach</option>
                        <option value="admin">Admin</option>
                    </select>
                    <br />
                    <label for="modal-user-email">User's Email</label><br />
                    <input autocomplete="false" type="email" class="form-control" id="modal-user-email"
                        placeholder="Email">
                    <br />
                    <label for="modal-user-pass">User's Default Password</label><br />
                    <input type="password" class="form-control" id="modal-user-pass"
                        placeholder="(Default:password123)">
                    <br />
                    <div id='modal-user-error' class='addTopPad'></div>
                    <button id="modal-user-save" class="add-athlete-btn" onclick="addModalUser()">ADD NEW USER</button>
                </div>
            </div>

            <!-- Modal for Edit User -->
            <div id="editUserModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('editUserModal').style.display = 'none';">&times;</span>
                    <h2>User Info</h2>
                    <span id="edit-user-uid" class="edit-modal-input" style="display: 'none'"></span>
                    <br>
                    <img id="edit-user-profile-pic" src="../img/user/default/user-480.png"
                        class="img-thumbnail rounded float-left modal-user-profile-pic" width="100" height="100">
                    <br>
                    <label for="edit-user-pic" class="text-like-button">Select File</label>
                    <br>
                    <input type="file" id="edit-user-pic" class="user-modal-input hiddenElement" accept="image/*"
                        capture="camera" />
                    <br>
                    <label for="edit-user-first"><b>First Name:</b></label>
                    <input type="text" placeholder="First Name" id="edit-user-first" class="user-modal-input" required>
                    <br>
                    <label for="edit-user-last"><b>Last Name:</b></label>
                    <input type="text" placeholder="Last Name" id="edit-user-last" class="user-modal-input" required>
                    <br>
                    <label for="edit-user-gender"><b>Gender:</b></label>
                    <select class="form-control" id="edit-user-gender" class="user-modal-input">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <br>
                    <label for="edit-user-priv">User Access Level</label><br />
                    <select class="form-control" id="edit-user-priv" class="user-modal-input">
                        <option value=".">Basic</option>
                        <option value="parent">Parent</option>
                        <option value="coach">Coach</option>
                        <option value="admin">Admin</option>
                    </select>
                    <br />
                    <label for="edit-user-email">User's Email</label><br />
                    <input autocomplete="false" type="email" class="form-control user-modal-input" id="edit-user-email"
                        placeholder="Email" disabled>
                    <br />
                    <div id='edit-user-error' class='addTopPad'></div>
                    <button id="edit-user-reset-password" class="add-athlete-btn">Reset User's Password</button>
                    <br />
                    <button id="edit-user-save" class="add-athlete-btn" onclick="editModalUser()">SUBMIT
                        CHANGES</button>
                </div>
            </div>

            <table id="users" class="block cp-table row-border"> </table>
        </div>
    </div>
</template>