<template>
    <div id="controlPanel">
        <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#activities-control"
            aria-expanded="false" aria-controls="collapseExample"> -->
        <div class="alert">
            <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
            Recommendation: Use desktop when accessing the Admin Console
        </div>

        <div id="cp-title">Welcome to the Admin Console</div>

        <div class="tab">
            <button class="tablinks" onclick="openSection(event, 'activities-control')"
                id="defaultOpen">Activities</button>
            <button class="tablinks" onclick="openSection(event, 'campers-control')">Athletes</button>
            <button class="tablinks" onclick="openSection(event, 'groups-control')">Coach Groups</button>
            <button class="tablinks" onclick="openSection(event, 'users-control')">Users</button>
        </div>

        <!-- This is the js for the header sections in the control panel -->
        <script>
            function openSection(evt, secHead) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(secHead).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>

        <script>
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>

        <!-- Old button sections -->

        <!-- <button class="btn btn-primary cp-button" type="button" data-toggle="collapse" data-target="#activities-control"
            aria-expanded="false" aria-controls="collapseExample" onclick="toggleHide('activities-control'); document.getElementById('act-edit').style = 'display:none;';
            togglePrimaryColor('act-expand');" id="act-expand">
            Activities
        </button> -->

        <!-- <button class="btn btn-primary cp-button" type="button" data-toggle="collapse" data-target="#campers-control"
            aria-expanded="false" aria-controls="collapseExample"
            onclick="toggleHide('campers-control'); togglePrimaryColor('campers-expand');" id="campers-expand">
            Athletes
        </button>


        <button class="btn btn-primary cp-button" type="button" data-toggle="collapse" data-target="#groups-control"
            aria-expanded="false" aria-controls="collapseExample"
            onclick="toggleHide('groups-control'); togglePrimaryColor('groups-expand');" id="groups-expand">
            Coach Groups
        </button>

        <button class="btn btn-primary cp-button" type="button" data-toggle="collapse" data-target="#users-control"
            aria-expanded="false" aria-controls="collapseExample"
            onclick="toggleHide('users-control'); togglePrimaryColor('users-expand');" id="users-expand">
            Users
        </button> -->

        <div id="activities-control" class="tabcontent adminheader">
            <button class="btn ctr-add" type="button" onclick="addActivity()">
                Add an Activity
            </button>


            <div class="cp-subTitle">Activities Table</div>
            <table id="activities" class="block cp-table row-border">

                <!-- <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
                </thead> -->
                <!-- <tbody></tbody> -->
            </table>

            <div id="act-edit" style='display:none;'>
                <a id="anchor-name">Edit Activity Anchor</a>
                <div class="cp-subTitle">Edit Activity</div> <br />
                <div>Name: </div> <input type="text" id='act-name'><br />
                <button class="btn" onclick="addCheckList()">Add a Checklist Item</button>
                <div class="cp-smallTitle">Daily Checklist: </div>
                <!--Adding id's and class tags don't seem to be able to change the css-->
                <table id="checklist" class="block cp-table row-border">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unit of Measure</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                <button class="btn" onclick="addSkill()">Add a
                    Skill</button>
                <div class="cp-smallTitle">Skills: </div>
                <table id="skills" class="block cp-table row-border">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Subskills are separated by commas">
                                Subskills</th>
                            <th></th>
                        </tr>
                    </thead>
                </table> <br /> <br />
                <button class="btn" id="update-activity">Submit Activity Changes</button>
            </div>
        </div>

        <div id="campers-control" class="tabcontent adminheader">
            <!-- <button class="btn" type="button" onclick="addCamper()">
                Add an Athlete
            </button> -->

            <!-- Trigger/Open The Modal -->
            <button id="addAthlete" class="btn"
                onclick="document.getElementById('addAthleteModal').style.display = 'block';">Add an Athlete</button>

            <!-- The Add Athlete Modal -->
            <div id="addAthleteModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('addAthleteModal').style.display = 'none';">&times;</span>
                    <h2>New Athlete's Info</h2>
                    <br>
                    <img id="add-camper-profile-pic" src="../img/user/default/user-480.png"
                        class="img-thumbnail rounded float-left modal-profile-pic" width="100" height="100">
                    <br>
                    <label for="add-camper-pic" class="text-like-button">Select File</label>
                    <input type="file" id="add-camper-pic" class="camper-modal-input hiddenElement" accept="image/*"
                        capture="camera" />
                    <br>
                    <label for="add-camper-fname"><b>First Name:</b></label>
                    <input type="text" placeholder="First Name" id="add-camper-fname"
                        class="camper-modal-input modal-fname" required>
                    <br>
                    <label for="add-camper-lname"><b>Last Name:</b></label>
                    <input type="text" placeholder="Last Name" id="add-camper-lname" class="camper-modal-input"
                        required>
                    <br>
                    <label for="add-camper-birthday"><b>Birthday:</b></label>
                    <input type="date" id="add-camper-birthday" min="1950-01-01" class="camper-modal-input" required>
                    <br>
                    <label for="add-camper-gender"><b>Gender:</b></label>
                    <select class="form-control" id="add-camper-gender" class="camper-modal-input">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <br>
                    <label for="add-camper-pronouns"><b>Pronouns:</b></label>
                    <select class="form-control" id="add-camper-pronouns" class="camper-modal-input">
                        <option value="She/Her/Hers">She/Her/Hers</option>
                        <option value="He/Him/His">He/Him/His</option>
                        <option value="They/Them/Theirs">They/Them/Theirs</option>
                    </select>
                    <br><br>
                    <button onclick="addCamperFromModal()" class="add-athlete-btn">Add New Athlete</button>
                </div>
            </div>

            <div class="cp-subTitle">All Athletes</div>

            <!-- The Edit Athlete Modal -->
            <div id="editAthleteModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('editAthleteModal').style.display = 'none';">&times;</span>
                    <h2>Athlete's Info</h2>
                    <br>
                    <!-- Hidden IDs to know which document to update in Cloud Firestore and which filepath to update in Firebase Storage -->
                    <span id="edit-camper-uid" class="camper-modal-input" style="display: 'none'"></span>
                    <span id="edit-camper-camperId" class="camper-modal-input" style="display: 'none'"></span>
                    <!-- Hidden IDs to know which document to update in Cloud Firestore and which filepath to update in Firebase Storage -->
                    <img id="edit-camper-profile-pic" src="../img/user/default/user-480.png"
                        class="img-thumbnail rounded float-left modal-profile-pic" width="100" height="100">
                    <br>
                    <label for="edit-camper-pic" class="text-like-button">Select File</label>
                    <input type="file" id="edit-camper-pic" class="camper-modal-input hiddenElement" accept="image/*"
                        capture="camera" />
                    <br>
                    <label for="edit-camper-fname"><b>First Name:</b></label>
                    <input type="text" placeholder="First Name" id="edit-camper-fname"
                        class="camper-modal-input modal-fname" required>
                    <br>
                    <label for="edit-camper-lname"><b>Last Name:</b></label>
                    <input type="text" placeholder="Last Name" id="edit-camper-lname" class="camper-modal-input"
                        required>
                    <br>
                    <label for="edit-camper-birthday"><b>Birthday:</b></label>
                    <input type="date" id="edit-camper-birthday" min="1950-01-01" class="camper-modal-input" required>
                    <br>
                    <label for="edit-camper-gender"><b>Gender:</b></label>
                    <select class="form-control" id="edit-camper-gender" class="camper-modal-input">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <br>
                    <label for="edit-camper-pronouns"><b>Pronouns:</b></label>
                    <select class="form-control" id="edit-camper-pronouns" class="camper-modal-input">
                        <option value="She/Her/Hers">She/Her/Hers</option>
                        <option value="He/Him/His">He/Him/His</option>
                        <option value="They/Them/Theirs">They/Them/Theirs</option>
                    </select>
                    <br><br>
                    <button onclick="updateCamperFromModal()" class="add-athlete-btn">Update Athlete Info</button>
                </div>
            </div>

            <table id="campers" class="block cp-table row-border"> </table>
        </div>

        <div id="groups-control" class="tabcontent adminheader">
            <!-- <button class="btn" style="width: 50%;" type="button" onclick="addGroup()">
                Add a Group
            </button> -->
            <select id="yearPicker" onchange="updateGroupsTable()"></select>
            <div class="cp-subTitle">All Coach Groups</div>
            <table id="groups" class="block cp-table row-border">
                <tbody> </tbody>
            </table>
        </div>
        <!-- Trigger/Open The Modal -->
        <button class="btn" onclick="document.getElementById('addUserModal').style.display = 'block';">Add
            User</button>

        <div id="users-control" class="tabcontent adminheader">
            <button type="button" class="btn" data-toggle="modal" data-target="#modal-user"
                data-micromodal-trigge="modal-dialog">
                Add User
            </button>
            <div class="cp-subTitle">All Users</div>
            <table id="users" class="block cp-table row-border"> </table>


            <!-- Pratik I made a sloppy version of a new User Modal, go in and check to make sure all the ID's, classes, etc are right and connected to the right things, a lot of them are probably not, sorry -->
            <div id="addUserModal" class="modal adminConsoleModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('addUserModal').style.display = 'none';">&times;</span>
                    <h2>Add a New User</h2>
                    <br>
                    <label for="add-user-fname"><b>First Name:</b></label>
                    <input type="text" placeholder="First Name" id="add-user-fname" class="camper-modal-input" required>
                    <br>
                    <label for="add-user-lname"><b>Last Name:</b></label>
                    <input type="text" placeholder="Last Name" id="add-user-lname" class="camper-modal-input" required>
                    <br>
                    <label for="add-user-gender"><b>Gender:</b></label>
                    <select class="form-control" id="add-user-gender" class="camper-modal-input">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Non-Binary">Non-Binary</option>
                    </select>
                    <br>
                    <label for="modal-user-priv">User Access Level</label><br />
                    <select class="form-control" id="modal-user-priv">
                        <option value=".">Basic</option>
                        <option value="parent">Parent</option>
                        <option value="coach">Coach</option>
                        <option value="admin">Admin</option>
                    </select>
                    <br />
                    <label for="add-user-email">User's Email</label><br />
                    <input autocomplete="false" type="email" class="form-control" id="add-user-email"
                        placeholder="Enter the unique user email">
                    <br />
                    <label for="add-user-pass">User's Default Password</label><br />
                    <input type="password" class="form-control" id="add-user-pass" placeholder="(Default:password123)">
                    <br />
                    <div id='modal-user-error' class='addTopPad'></div>

                    <button onclick="" class="add-athlete-btn">ADD NEW USER</button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal micromodal-slide" id="modal-user" aria-labelledby="modalCreateUser" aria-hidden="true">
                <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                    <div class="modal__container" role="dialog">
                        <header class="modal__header">
                            <h5 class="modal__title" id="modalCreateUser">Add a new User</h5>
                            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close modal"
                                data-micromodal-close>
                            </button>
                        </header>
                        <div class="modal__content" aria-hidden="true">
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <input id="modal-user-first" type="text" class="form-control"
                                                placeholder="First name">
                                        </div>
                                        <div class="col">
                                            <input id="modal-user-last" type="text" class="form-control"
                                                placeholder="Last Name">
                                        </div>
                                    </div>
                                    <label for="modal-user-gender">User's Gender</label> <br />
                                    <select class="form-control" id="modal-user-gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Non-Binary</option>
                                    </select>
                                    <br />
                                    <label for="modal-user-priv">User Access Level</label><br />
                                    <select class="form-control" id="modal-user-priv">
                                        <option value=".">Basic</option>
                                        <option value="parent">Parent</option>
                                        <option value="coach">Coach</option>
                                        <option value="admin">Admin</option>
                                    </select>
                                    <br />
                                    <label for="modal-user-email">User's Email</label><br />
                                    <input type="email" class="form-control" id="modal-user-email"
                                        placeholder="Enter the unique user email">
                                    <br />
                                    <label for="modal-user-pass">User's Default Password</label><br />
                                    <input type="password" class="form-control" id="modal-user-pass"
                                        placeholder="(Default:password123)">
                                    <br />
                                    <div id='modal-user-error' class='addTopPad'></div>
                                </form>
                            </div>
                        </div>
                        <div class="modal__footer">
                            <button type="button" class="modal__btn modal__btn-primary" id="modal-user-save"
                                onclick="addModalUser();">Save changes</button>
                            <button type="button" class="modal__btn" data-dismiss="modal" id='modal-user-close'
                                data-micromodal-close>Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>