<template>
    <div>
        <div style="font-size: x-large;">Activities Table</div>
        <table id="activities" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div id="act-edit">
            <div style='font-size: x-large;'>Add/Edit Activity</div> <br/>
            <div>Name: </div> <input type="text" id='act-name'><br/>
            <div>Skills: </div> <br/> <br/>
            <button class="btn">Submit Changes</button>
        </div>
    <script>
        $("act-edit").hide();
        function getActivity(id) {
            fs.collection('Activities').doc(id).get().then(doc =>{
                document.getElementById('act-name').value = doc.data()['name'];
                $("act-edit").show();
            }).catch(err => {console.log(err);});
        }
        function populateAct(nl, data) { // nl -> NodeList, data -> array with objects
            data.forEach((d, i) => {
                let tr = nl.insertRow(i);
                let name = tr.insertCell(0);
                let idEdit = tr.insertCell(1);
                name.innerHTML = d['name'];
                idEdit.innerHTML = `<button class='btn bdrlessBtn btn-danger' onclick='getActivity("${d['id']}")'>Edit</button> `
                nl.appendChild(tr);
            })
        }
        function initActivitiesTable(){
            fs.collection("Activities").get().then(res =>{
                let names = [];
                res.forEach(doc => {
                    names.push({
                        name: doc.data()['name'],
                        id: doc.id 
                    });
                });
                let actTable = document.querySelector("#activities tbody");
                var new_tbody = document.createElement('tbody');
                populateAct(new_tbody, names);
                actTable.parentNode.replaceChild(new_tbody, actTable)
            });
        }
        initActivitiesTable();
        initNavBar();
    </script>
    </div>
</template>