<template>
    <div>
        <div id = "user">Edit Profile</div>
        <div>Name: </div>
        <input type="text" onkeydown="validString('user-name')" class="input" id="user-name"><br />
        <div>Gender: </div>
        <input type="text" onkeydown="validString('user-gender')" class="input" id="user-gender"><br />
        <div>Date of Birth : </div>
        <input type="date" id="birthdate" name="birthdate" min="1900-01-01"><br />
        <div id="profile-error">One or more of the above fields are in the wrong format or empty!</div> <br/>
        <img id="profile-pic" src="../img/user/default/user-480.png" class="img-thumbnail rounded float-left" width="200" height="200">
        <div>Change Profile Picture: </div><input type="file" accept="image/*" capture="camera" id="cameraInput" onchange="changePhoto()">
        <div id="pic-error" class="error-msg"></div>
        <button type="button" class="btn btn-secondary btn-lg btn-space" onclick="initEditProfile()">Reset Profile Fields</button>
        <button type="button" class="btn btn-secondary btn-lg btn-space" onclick="updateProfile()">Submit Changes</button>
        <button type="button" class="btn btn-secondary btn-lg btn-space" onclick="router.loadRoute('menu')">Back to Menu</button>
    <script>
        $("#profile-error").hide();
        //Date is in YYYY-MM-DD Format
        console.log("loading in fields");
        initEditProfile();
        function changePhoto(){
            document.getElementById("profile-pic").src = document.getElementById("cameraInput").value;
        }
    </script>
    </div>
</template>