<template>
    <div>
        <div id="user" class="largeText">Edit Profile</div>
        <div>First Name: </div>
        <input type="text" onkeyup="validString('user-first-name')" onkeydown="validString('user-first-name')" class="input"
            id="user-first-name"><br />
         <div>Last Name: </div>
         <input type="text" onkeyup="validString('user-last-name')" onkeydown="validString('user-last-name')" class="input"
            id="user-last-name"><br />
        <div>Gender: </div>
        <input type="text" onkeyup="validString('user-gender')" onkeydown="validString('user-gender')" class="input"
            id="user-gender"><br />
        <div>Date of Birth : </div>
        <input type="date" onchange="$('#profile-success').hide()" id="birthdate" name="birthdate"
            min="1900-01-01"><br />
        <div id="profile-error">One or more of the above fields are in the wrong format or empty!</div> <br />
        <div id="profile-success">Profile was updated successfullly!</div> <br />
        <img id="profile-pic" src="../img/user/default/user-480.png" class="img-thumbnail rounded float-left"
            width="200" height="200">
        <div>Change Profile Picture: </div><input type="file" onchange="$('#profile-success').hide()" accept="image/*"
            capture="camera" id="cameraInput">
        <div id="pic-error" class="error-msg"></div>
        <!--Hmm for these buttons below, I can't find the btn btn-sec class to fix the font-size, the new class(in editPro.css) seems to reset the css *shrug*-->
        <button type="button" class="editProfileBtn" class="btn btn-secondary btn-lg btn-space"
            onclick="initEditProfile()">Reset Profile
            Fields</button>
        <div class="loader"></div>
        <button type="button" class="btn btn-secondary btn-lg btn-space" onclick="updateProfile()">Submit
            Changes</button>
        <button type="button" class="btn btn-secondary btn-lg btn-space"
            onclick="router.loadRoute('accountSettings')">Change Email or Password</button>
        <script>
            $(".loader").hide();
            $("#profile-error").hide();
            $("#profile-success").hide();
            //Date is in YYYY-MM-DD Format
            console.log("loading in fields");
            initEditProfile();
            function changePhoto() {
                let fileReader = new FileReader();
                fileReader.readAsDataURL(document.getElementById("cameraInput").value);
                fileReader.onloadend = () => {
                    console.log(this);
                };
                console.log(document.getElementById("cameraInput").value);
            }

            $("#cameraInput").on("change", function () {
                readURL(this, "profile-pic");
            });
            initNavBar();
        </script>
    </div>
</template>