<template>
  <div>
    <div class="forgot-pass">
      <label class="largeText">Forgot Password</label>
      <div class="form-group">
        <label>Please enter your email address to reset your password</label>
        <br>
        <input type="email" class="email-input" id="forgot-email" onkeyup="emailOnChange('forgot-email')"
          onkeydown="emailOnChange('forgot-email')" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary" id="forgot-button" onclick="forgotPassword()">Reset
        Password</button>
      <div class="loader"></div>
      <br>
      <div class="error-msg" id="forgot-error"></div>
      <button type="submit" class="btn btn-primary" onclick="router.loadRoute('')">Back to Login</button>
    </div>
  </div>
</template>