<template>
    <div>
            <label style="font-size: x-large;">Forgot Password</label>
            <div class="form-group">
              <label >Please enter your email address:</label>
              <input type="email" class="form-control" id="forgot-email" onkeyup="emailOnChange('forgot-email')"onkeydown="emailOnChange('forgot-email')" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary" id="forgot-button" onclick="forgotPassword()">Submit</button>
            <div class="loader"></div>
            <div class="error-msg" id="forgot-error"></div>
            <button type="submit" class="btn btn-primary" onclick="router.loadRoute('')">Back to Menu</button>
          <script>
              $(".loader").hide();
              $("#forgot-error").hide();
          </script>
    </div>
</template>