<template>
    <div>
        <div class="img-col">
            <img class="user-img img-thumbnail rounded float-left cell-child" src="../img/user/default/user-480.png"
                width="150px" height="150px">
        </div>
        <div class="details-col">
            <div>
                <h3 class="user-name"></h3>
                <div class="details-text">
                    <div>
                        <span class="user-age"></span> <span>years old</span>
                    </div>
                    <div class="user-gender"></div>
                    <div class="user-pronouns"></div>
                    <div class="user-team"></div>
                </div>
            </div>
        </div>
        <div class="btns-col cell-col">
            <div class="cell-child">
                <div>
                    <button class='get-evals home-btn'>View Evaluations</button>
                </div>
                <div>
                    <button class='add-evals home-btn'>Add Evaluations</button>
                </div>
            </div>
        </div>
    </div>
</template>